body {
    background-color: #3764;
    
  }
  #container {
    background-color: #2871;
    width: 1200px;
    margin: 20px auto;
    border: 12px solid black;
    
  }
  
  header {
    background-color: solid white;
    padding: 20px;
  }
  
  header img {
    display: block;
    margin: 0 auto;
    width: 40%;
  }
  
  nav {
    background-color: indigo;
    padding: 20px 0;
    text-align: center;
    margin: 10px 0;
  }
  
  nav a {
    display: inline-block;
    background-color: turquoise;
    height: 23px;
    width: 400px;
    line-height: 386px;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    
  }
  
  nav a:hover {
    background-color: dark blue;
    color: white;
    
  }
  
  main {
    background-color: green;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid black;
  }
  main img {
    display: block;
    margin: 30px auto;
    width: 35%;
    background-color: #2222;
    border-radius: 23px;
    padding: 70px;
  }
  
  footer {
    background-color: #000;
    color: #003;
    padding: 50px;
    text-align: center;
  }
  