body {
    background-color: #ECD2FF;
    
  }
  #container {
    background-color: #2871;
    width: 1200px;
    margin: 20px auto;
    border: 75px #C67BF9;
    
  }
  
  header {
    background-color: #14141E;
    padding: 20px;
  }
  
  header img {
    display: block;
    margin: 0 auto;
    width: 40%;
  }

  main {
    background-color: #ECD2FF;
    width: 1200px;
    margin: 0px auto;
    padding: 20px;
    border: 38px color rgb(100, 100, 223);
    font-family: cursive;
  }

  h1 {
 color: #ECD2FF;
 font-family: cursive; 
 font-size: 90px;
 padding: 0px;
  }

  h2 {
    color: #14141E;
    font-family: cursive; 
    font-size: 40px;
    padding: 0px;
  }
  nav {
    background-color: #5F30A2;
    padding: 50px 0;
    text-align: center;
    margin: 0px 0;
  }
  
  nav a {
    display: inline-block;
    background-color: #C67BF9;
    height: 30px;
    width: 120px;
    border-bottom: 32px #14141E;
    font-family: cursive;
    line-height: normal;
    font-size: 1.3em;
    font-weight: bolder;
    color: #14141E;
    text-decoration: none;
    
    
  }
  
  nav a:hover {
    background-color: #14141E;
    color: white;
    
  }
  
 
  main img {
    display: block;
    margin: 4px auto;
    width: 35%;
    background-color: #2222;
    border-radius: 2px;
    padding: 70px;
  }
  
  footer {
    background-color: #14141E;
    color: #ECD2FF;
    padding: 50px;
    text-align: center;
  }

  .active {
    background-color: #14141E;
    color: white;
  }
  nothing {
  color: #ECD2FF;
  color: #C67BF9;
  color: #7640B6;
  color: #5F30A2;
  color: #14141E;
  color: rgb(100, 100, 223);
  color: #3F6FB5;
  }